.elementor-19 .elementor-element.elementor-element-cdd74ce:not(.elementor-motion-effects-element-type-background), .elementor-19 .elementor-element.elementor-element-cdd74ce > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #02010100;
}

.elementor-19 .elementor-element.elementor-element-cdd74ce {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -119px;
    padding: 15px 0px 15px 0px;
    z-index: 9999;
}

.elementor-19 .elementor-element.elementor-element-cdd74ce > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-19 .elementor-element.elementor-element-f522766.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-f522766.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-f522766.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-19 .elementor-element.elementor-element-f522766 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-19 .elementor-element.elementor-element-9942b53 {
    text-align: center;
}

.elementor-19 .elementor-element.elementor-element-9942b53 img {
    width: 86%;
}

.elementor-bc-flex-widget .elementor-19 .elementor-element.elementor-element-1c314e8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-1c314e8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-menu-toggle {
    margin: 0 auto;
    background-color: #02010100;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu .elementor-item {
    font-family: "Exo", Sans-serif;
    font-weight: 600;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main .elementor-item {
    color: #ffffff;
    fill: #08b1ff;
    padding-top: 23px;
    padding-bottom: 23px;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main .elementor-item:hover, .elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #ffffff;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .e--pointer-framed .elementor-item:before, .elementor-19 .elementor-element.elementor-element-f03d981 .e--pointer-framed .elementor-item:after {
    border-color: #ffffff;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before, .elementor-19 .elementor-element.elementor-element-f03d981 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #6E6BB5;
}

.elementor-19 .elementor-element.elementor-element-f03d981 .e--pointer-framed .elementor-item.elementor-item-active:before, .elementor-19 .elementor-element.elementor-element-f03d981 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #6E6BB5;
}

.elementor-19 .elementor-element.elementor-element-f03d981 div.elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-19 .elementor-element.elementor-element-f03d981 div.elementor-menu-toggle svg {
    fill: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-19 .elementor-element.elementor-element-61d5e15.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-61d5e15.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-19 .elementor-element.elementor-element-6f99fa5 .elementor-button {
    font-family: "Exo", Sans-serif;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    fill: #000000;
    color: #ffffff;
    background-color: #33F916;
    border-radius: 100px 100px 100px 100px;
    
}

@media(min-width: 768px) {
    .elementor-19 .elementor-element.elementor-element-f522766 {
        width:24.724%;
    }

    .elementor-19 .elementor-element.elementor-element-1c314e8 {
        width: 52.175%;
    }

    .elementor-19 .elementor-element.elementor-element-61d5e15 {
        width: 22.765%;
    }
}

@media(max-width: 767px) {
    .elementor-19 .elementor-element.elementor-element-cdd74ce {
        margin-top:0px;
        margin-bottom: -129px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-19 .elementor-element.elementor-element-f522766 {
        width: 80%;
    }

    .elementor-19 .elementor-element.elementor-element-9942b53 {
        text-align: right;
    }

    .elementor-19 .elementor-element.elementor-element-1c314e8 {
        width: 20%;
    }

    .elementor-19 .elementor-element.elementor-element-f03d981 {
        --nav-menu-icon-size: 25px;
    }
}
